<section class="{{#if error}}error{{/if}}">
  <header>
    <span>roll{{#if command}} {{command}}{{/if}}:</span>
    <form id="roll-form">
      <input type="text" id="roll-input" value="{{input}}"/>
      <button id="roll-reroll" type="submit" title="Roll again!">
        <img src="assets/images/roll48.png"/>
      </button>
    </form>
  </header>
  {{{content}}}
</section>