<div class="result">
  <span>result:</span>
  <span id="roll-result">{{result}}</span>
</div>
<div class="intermediates">
  <ul id="roll-intermediates">
    {{#list-intermediates intermediates}}
    {{/list-intermediates}}
  </ul>
</div>